@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --setting-arrow: 'opsz' 36, 'slnt' 0, 'GRAD' 0, 'XTRA' 468, 'YOPQ' 79,
      'YTAS' 750, 'YTDE' -203, 'YTFI' 738, 'YTLC' 514, 'YTUC' 712, 'XOPQ' 96,
      'wdth' 138, 'wght' 700;
    --setting-bold-H1: 'opsz' 36, 'slnt' 0, 'GRAD' 0, 'XTRA' 468, 'YOPQ' 79,
      'YTAS' 750, 'YTDE' -203, 'YTFI' 738, 'YTLC' 514, 'YTUC' 712, 'wdth' 32,
      'wght' 600;
    --setting-squash-H1: 'opsz' 48, 'slnt' 0, 'GRAD' 0, 'XTRA' 468, 'YOPQ' 79,
      'YTAS' 750, 'YTDE' -203, 'YTFI' 738, 'YTLC' 514, 'YTUC' 712, 'wdth' 140,
      'wght' 700;
    --setting-squash-H4: 'opsz' 48, 'slnt' 0, 'GRAD' 0, 'XTRA' 468, 'YOPQ' 79,
      'YTAS' 750, 'YTDE' -203, 'YTFI' 738, 'YTLC' 514, 'YTUC' 712, 'wdth' 140,
      'wght' 800;
    --setting-squash-H6: 'opsz' 48, 'slnt' 0, 'GRAD' 0, 'XTRA' 468, 'YOPQ' 79,
      'YTAS' 750, 'YTDE' -203, 'YTFI' 738, 'YTLC' 514, 'YTUC' 712, 'wdth' 138,
      'wght' 800;
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .no-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
}
